
#nav{
    margin: 0 auto;
    width: 280px;
}

#nav > ul{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
    margin: auto;
}

#nav li{
    display: inline-block;
    background-color: #15346F;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 1px 1px #00000060;

    width: 90px;
    text-align: center;

    transition: 0.2s;
}

#nav li:hover{
    padding: 12px 10px;
}

#nav a:active{
    box-shadow: none;
}

#nav a{
    color: white;
    text-decoration: none;

    border: none;
}